{
  "Username": "anonymous",
  "Password": "",

  "AppToWatch": 232250,
  "DepotsToDownload": [],
  "Branch": "public",

  "DbConnectionString": "server=localhost;userid=gametracking;password=password;database=gametracking;",
  "DataDir": "Data",
  "RepoDir": "Repo",

  "MaxChunkRetries": 10,
  "MinRequiredCDNServers": 10,

  "ReconnectDelay": 15000,
  "PicsRefreshDelay": 300000,
  "RetryDelay": 5000,

  "Processor": "<replace me>",
  "ProcessorArgs": "",
  "ProcessorWorkingDir": "/tmp",

  "GitUsername": "<git remote username>",
  "GitPassword": "<git remote password>",
  "GitBranch": "main"
}
